<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="angular.js"></script>
    <!--<script src="app/controllers.js"></script>-->
    <script src="app/appModule.js"></script>
</head>
<body ng-controller="formCtrl">
   <!-- <input type="text" ng-model="data.name" required/>
    <input type="text" ng-model="data.age" ng-keydown="checkInput()" ng-pattern="num" required/>
    <div>
        Content
    </div>
    [<a href="" ng-click="addContact()">Add</a>]
    [<a href="" ng-click="delContact()">Del</a>]
    <ul>
        <li ng-repeat="contact in data.contacts">
            <select ng-model="contact.type">
                <option value="phone">phone</option>
                <option value="email">email</option>
            </select>
            <input type="text" ng-model="contact.value" required/>
        </li>
    </ul>
    <form name="myForm">
        <input type="text" ng-model="data.name"/>
    </form>
    {{data}}-->
    <div draggable>hello</div>
</body>
</html>
